html {overflow: -moz-scrollbars-vertical;}

body {
		background: #FFFFFF;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #3C3D3F;
	  text-align: left;

		max-width: 800px;   /* set the body to be 800px long */
	  margin: auto;       /* center the app in the middle of the browser window */
}

header{
    display:flex;
    margin-top:36px;
    justify-content:flex-end;
}

header h1{
    margin: 0px;
    padding-top:4px;
    width:100%;
    font-size:48px;
}

.header_button{
    height: 64px;
    width: 80px;
    background-position: center;
    background-repeat: no-repeat;
}

#profile_button {
	background-image: url('../media/user.png');
}

#close_button{
    background-image: url('../media/close33.png');
}

footer{
    margin-top: 20px;
    text-align:center;
}

.bodyText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 0px 0px 10px 10px;
}

textarea {
	height: 120px;
}

#messages {
	padding: 15px 0px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
}

.user {
	width: 100px;
	text-align: center;
	display:block;
}

.userImg {
	position: relative;
}

.thumbs {
	flex-flow: column;
	width: 50px;
	height: 130px;
	align-content: center;
	text-align: center;
	display:block;
	padding-right: 30px;
}

.postMessage {
	align-items: center;
	width: 620px;
	padding-left: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.item2 {
	order: 2;
	text-align: center;
	display:block;
}

#thumbsup {
	background-image: url('../media/thumbs4.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
	height: 45px;
	padding-top: 5px;
	display:block;
}

#thumbsdown {
	background-image: url('../media/like6.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
	height: 45px;
	padding-top: 5px;
	display:block;
}
